<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072428940750-fnsrultlbc20r0hof1u15s4clm8867cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072428940750-fnsrultlbc20r0hof1u15s4clm8867cn</string>
	<key>API_KEY</key>
	<string>AIzaSyBBdlQIHqGsMRhIuXYYKcWcGliaPWKUBa8</string>
	<key>GCM_SENDER_ID</key>
	<string>1072428940750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Avi-Shakuri.Parking</string>
	<key>PROJECT_ID</key>
	<string>parking-ebd92</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-ebd92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072428940750:ios:498e6aa62e6f0b91e17f9f</string>
	<key>DATABASE_URL</key>
	<string>https://parking-ebd92-default-rtdb.europe-west1.firebasedatabase.app/</string>
</dict>
</plist>
